<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Passbook Transaction Details</title>

    <!-- Include Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>

    <div class="container mt-5 ml-5">

        <h2 class="text-center mb-4 ml-7">Passbook Transaction Details</h2>

        <table class="table table-bordered">

            <thead class="thead-dark">

                <tr>
                    <th>Transaction ID</th>
                    <th>Date and Time</th>
                    <th>Amount</th>
                    <th>Receiver's Account</th>
                    <th>Remarks</th>
                </tr>
            </thead>

            <tbody *ngFor="let transaction of transactions, let i=index">

                <tr>

                    <td>{{i+1}}</td>

                    <td>{{transaction.dateTime}}</td>

                    <td>{{transaction.transferAmount}}</td>

                    <td>{{transaction.receiverAccount}}</td>

                    <td>{{transaction.remarks}}</td>

                </tr>

                <!-- Add more rows as needed -->

            </tbody>

        </table>
        <hr>
        <table class="table table-bordered">

            <thead class="thead-dark">

                <tr>
                    <th>Transaction ID</th>
                    <th>Cheque date</th>
                    <th>Cheque Number</th>
                    <th>Amount</th>
                </tr>
            </thead>

            <tbody *ngFor="let credit of credits, let q=index">

                <tr>
                    <td>{{q+1}}</td>
                    <td>{{credit.chequeDate}}</td>
                    <td>{{credit.chequeNumber}}</td>
                    <td>{{credit.amount}}</td>
                </tr>

                <!-- Add more rows as needed -->

            </tbody>

        </table>


    </div>

    <!-- Include Bootstrap JS (optional) -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>