<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Banking System Registration</title>

    <!-- Include Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>Banking System Registration</h4>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit()" #myForm="ngForm">
                            <div class="form-group">
                                <label for="name">Full Name</label>
                                <input type="text" class="form-control" id="name" #name="ngModel"
                                    [(ngModel)]="user1.name" name="name" required placeholder="Enter full name"
                                    minlength="4">
                                <div *ngIf="name.touched && name.errors">
                                    <div class="alert alert-danger" *ngIf="name.errors?.['required']">
                                        Name is empty
                                    </div>

                                    <div *ngIf="name.touched && name.errors">
                                        <div class="alert alert-danger" *ngIf="name.errors?.['minlength']">
                                            name is very short.require minm 4 characters
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="form-group">

                                <label for="email">Email</label>

                                <input type="email" class="form-control" id="email" #email="ngModel"
                                    [(ngModel)]="user1.email" name="email" required placeholder="Enter email">
                                <div *ngIf="email.touched && email.errors">
                                    <div class="alert alert-danger" *ngIf="email.errors?.['required']">
                                        Email is empty
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">

                                <label for="username">Username</label>

                                <input type="text" class="form-control" id="username" #username="ngModel"
                                    [(ngModel)]="user1.username" name="username" required
                                    placeholder="Choose a username" minlength="4">
                                <div *ngIf="username.touched && username.errors">
                                    <div class="alert alert-danger" *ngIf="username.errors?.['required']">
                                        UserName is empty
                                    </div>

                                    <div *ngIf="username.touched && username.errors">
                                        <div class="alert alert-danger" *ngIf="username.errors?.['minlength']">
                                            username is very short.require minm 4 characters
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="form-group">

                                <label for="password">Password</label>

                                <input type="password" class="form-control" id="password" #password="ngModel"
                                    [(ngModel)]="user1.password" name="password" required
                                    placeholder="Choose a password" minlength="4">
                                <div *ngIf="password.touched && password.errors">
                                    <div class="alert alert-danger" *ngIf="password.errors?.['required']">
                                        Password is empty
                                    </div>

                                    <div *ngIf="password.touched && password.errors">
                                        <div class="alert alert-danger" *ngIf="password.errors?.['minlength']">
                                            Password is very short.require minm 4 characters
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <div class="form-group">

                                <label for="password">Confirm Password</label>

                                <input type="password" class="form-control" id="confirmPassword"
                                    #confirmPassword="ngModel" [(ngModel)]="user1.confirmPassword" name="confirmPassword"
                                    required placeholder="Choose a password" minlength="4">
                                <div *ngIf="confirmPassword.touched && confirmPassword.errors">
                                    <div class="alert alert-danger" *ngIf="confirmPassword.errors?.['required']">
                                        confirm Password is empty
                                    </div>

                                    <div *ngIf="confirmPassword.touched && confirmPassword.errors">
                                        <div class="alert alert-danger" *ngIf="confirmPassword.errors?.['minlength']">
                                           confirm  Password is very short.require minm 4 characters
                                        </div>

                                    </div>

                                </div>
                                <div *ngIf="user1.password !== user1.confirmPassword" class="alert alert-danger">
                                    Password not match
                                </div>

                            </div>



                            <button type="submit" class="btn btn-primary btn-block"
                                [disabled]="myForm.invalid || user1.password !== user1.confirmPassword">Register</button>

                        </form>
                        <a routerLink="/login">Already have Account?Login</a>

                    </div>
                    <div class="bg-warning test-dark mt-5 mb-5 p-4" [hidden]='!submitted'></div>

                </div>

            </div>

        </div>

    </div>

    <!-- Include Bootstrap JS (optional) -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>