<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Credit Using Cheque - Banking System</title>

    <!-- Include Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>

    <div class="container mt-5">

        <div class="row justify-content-center">

            <div class="col-md-8">

                <div class="card">

                    <div class="card-header bg-primary text-white text-center">

                        <h4>Credit Using Cheque</h4>

                    </div>

                    <div class="card-body">

                        <form (ngSubmit)='credit()' #transForm="ngForm">
                            <div *ngIf="errorMsg" class="text text-danger"><p>{{errorMsg}}</p></div>
                            <div class="form-group">
                                <label for="chequeDate">Date:</label>
                                <input type="date" class="form-control" id="chequeDate" #chequeDate="ngModel"
                                    [(ngModel)]="creditModel1.chequeDate" name="chequeDate" required>
                                    <div *ngIf="chequeDate.touched && chequeDate.errors">
                                        <div class="alert alert-danger" *ngIf="chequeDate.errors?.['required']">
                                            Cheque date can't be empty
                                        </div>
                                    </div>
                                    
                            </div>
                            <div class="form-group">
                                <label for="chequeNumber">Cheque Number:</label>
                                <input type="text" class="form-control" id="chequeNumber" #chequeNumber="ngModel"
                                    [(ngModel)]="creditModel1.chequeNumber" name="chequeNumber" required
                                    placeholder="Cheque number">
                                    <div *ngIf="chequeNumber.touched && chequeNumber.errors">
                                        <div class="alert alert-danger" *ngIf="chequeNumber.errors?.['required']">
                                            Cheque Number can't be empty
                                        </div>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for="amount">Amount:</label>
                                <input type="number" class="form-control" id="amount" #amount="ngModel"
                                    [(ngModel)]="creditModel1.amount" name="amount" placeholder="Enter amount">
                                    <div *ngIf="amount.touched && amount.errors">
                                        <div class="alert alert-danger" *ngIf="chequeNumber.errors?.['required']">
                                           Amount is required
                                        </div>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for="username">username:</label>
                                <input type="text" class="form-control" id="username" #username="ngModel"
                                    [(ngModel)]="creditModel1.username" name="username" [disabled]="true"
                                    placeholder="Username">
                                    
                            </div>
                            <div class="form-group">
                                <label for="accountId">Account Id:</label>
                                <input type="text" class="form-control" id="accountId" #accountId="ngModel"
                                    [(ngModel)]="creditModel1.accountId" name="accountId"
                                    placeholder="Enter your account Id">
                            </div>
                            <div class="form-group">

                                <label for="pin">Enter your Pin:</label>

                                <input type="number" class="form-control" id="pin" #pin="ngModel"
                                    [(ngModel)]="creditModel1.pin" name="pin" required
                                    placeholder="Account holder's Pin">
                                    <div *ngIf="pin.touched && pin.errors">
                                        <div class="alert alert-danger" *ngIf="chequeNumber.errors?.['required']">
                                           Pin is required
                                        </div>
                                    </div>

                            </div>

                            <div class="form-group">
                                <label for="phone">Contact Information:</label>
                                <input type="text" class="form-control" id="phone" #phone="ngModel"
                                    [(ngModel)]="creditModel1.phone" name="phone" [disabled]="true" placeholder="Contact details ">
                                    
                            </div>


                            <button type="submit" class="btn btn-primary btn-block">Submit</button>

                        </form>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- Include Bootstrap JS (optional) -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>